body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffe2ff;
}

h1 {
  margin: 0;
  padding: 0;
  color: #481380;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
}

h1 span {
  position: relative;
  margin: 0;
  padding: 0;
  animation: animate 3s linear infinite;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.3s;
}

h1 span:nth-child(3) {
  animation-delay: 0.6s;
}

h1 span:nth-child(4) {
  animation-delay: 0.9s;
}

h1 span:nth-child(5) {
  animation-delay: 1.2s;
}

h1 span:nth-child(6) {
  animation-delay: 1.5s;
}

h1 span:nth-child(7) {
  animation-delay: 1.8s;
}

h1 span:nth-child(8) {
  animation-delay: 2.1s;
}
h1 span:nth-child(8) {
  animation-delay: 2.4s;
}

@keyframes animate {
  0%, 100% {
    color: #ffe2ff;
  }
  10%, 90% {
    color: #481380;
  }
}
