body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 50px;
}

span::before {
  content: "";
  animation: animate 5s infinite;
}

@keyframes animate {
  0% {
    content: "🎬";
  }
  25% {
    content: "🍪";
  }
  50% {
    content: "🖥️";
  }
  75% {
    content: "✈️";
  }
  100% {
    content: "📖";
  }
}
