body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Caveat', cursive;
  font-size: 1.2rem;
  color: #fff;
  animation: bgcolor 12s linear infinite;
}

@keyframes bgcolor {
  0% {
    background: #e40303;
  }
  20% {
    background: #ff8c00;
  }
  40% {
    background: #ffed00;
  }
  60% {
    background: #008026;
  }
  80% {
    background: #004dff;
  }
  100% {
    background: #750787;
  }

}
