body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn {
  font-size: 20px;
  padding: 20px 50px;
  text-transform: uppercase;
  border-radius: 12px;
  border: 2px solid #24a19c;
  background: transparent;
  color: #24a19c;
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
  position: relative;
}

.btn:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #24a19c;
  border-radius: 0 0 50% 50%;
  z-index: -1;
  transition: 1s;
}

.btn:hover::before {
  height: 180%;
}
