body {
  margin: 0;
  padding: 0;
  background-color: #ffe4e4;
}

.heart {
  background-color: #c10000;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}

.left-heart, .right-heart {
  background-color: #c10000;
  height: 40px;
  width: 70px;
  position: relative;
  border-radius: 70px 70px 0 0;
}

.left-heart {
  bottom: 38px;
}

.right-heart {
  bottom: 25px;
  right: 52px;
  transform: rotate(-90deg);
}

@keyframes animate {
  50% {
    transform: rotate(45deg) scale(1.3);
  }
}
