body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

h1 {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 10px;
  background-image: url(universe.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }

}
