* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

section div {
  position: relative;
  width: 50%;
  background: #e5dfdf;
  overflow: hidden;
}

section div:nth-child(1) {
  position: relative;
  width: 50%;
  background-color: #1d4d4f;
  background-size: cover;
  overflow: hidden;
}

section div:nth-child(1) h1 {
  color: #6ba8a9;
  left: 100%;
}

section div h1 {
  position: absolute;
  white-space: nowrap;
  font-size: 7rem;
  line-height: 100vh;
  color: #357376;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
