body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pulse {
  width: 80px;
  height: 80px;
  font-size: 46px;
  background: #58ee00;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 84px;
  position: relative;
}

.pulse::before,
.pulse::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #58ee00;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 1.5s linear infinite;
  opacity: 0;
}

.pulse::after {
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
